{% extends 'layout.html' %}
{% load static %}

{% block head_files %}
    <style>
        body {
            height: 100vh !important;
            background-color: rgb(45, 45, 45);
            color: #fff;
            font-family: Arial, sans-serif;
        }

        #container-pswForget{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh !important;
            width: 100vw;
        }

        #pswForget{
            margin: auto;
        }
        
        h1 {
            text-align: center;
        }
        
        input[type="email"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
        }
        
        input[type="submit"] {
            background-color: rgb(83, 79, 79);
            color: #fff;
            border: none;
            cursor: pointer;
        }
        #backPage{
            position: absolute;
            top: 5%;
        }

        #backPage a{
            background-color: rgb(83, 79, 79) !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="backPage">
        <a class="btn btn-dark" href="{% url 'login' %}">
            <!-- {{ request.META.HTTP_REFERER }} -->
            <img src="{% static 'icon/turn-back.png' %}" alt="back" style="width: 2vw;">
        </a>
    </div>
    <div id="container-pswForget">
        <div class="w-50 p-5 content-row-center" id='pswForget'>
            <h1>Forget Password</h1>
            <form method="post">
                <input type="email" name="email" placeholder="E-mail" required>
                <input type="submit" value="Send Password Reset Link">
            </form>
        </div>
    </div>
{% endblock content %}